@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  @include response(phone) {
    font-size: 55%;
  }
  @include response(phone-land) {
    font-size: 50%;
  }
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, -50%);
}

.root {
  width: 100%;
}
