.lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex: 1;
}

.list-container {
  display: flex;
  flex-direction: column;
}

.list-header {
  margin-bottom: 1rem;
}

.list {
  font-size: 1.4rem;
  // flex-grow: 1;
  &-group-item {
    height: 5rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    cursor: pointer;
  }

  &-item {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 0.4rem;

    input {
      height: 3.6rem;

      width: 80%;
      padding: 0;
      outline: none;
      font-size: 1.4rem;
      text-align: center;
      outline-color: black;
    }

    &-icon {
      &:hover {
        cursor: pointer;
      }
      &:active {
        fill: #853221;
      }
    }
  }
}
