.fcg {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  gap: 2rem;

  &-header {
    width: 100%;
    text-align: center;
  }

  &-grid {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;

    .fcg-buttons-container {
      margin: 1rem;
      position: relative;
      display: flex;
      width: 100%;
      justify-content: space-between;
      // align-items: center;
      // justify-content: center;

      .fcg-button {
        background: transparent;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding: 1.8rem;

        &:hover {
          background-color: lightgray;
        }

        &--align {
          margin-left: auto;
        }
        &--save {
          font-size: 1.4rem;
          color: black;
          width: 20rem;
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
        }

        @include response(phone) {
          padding: 1rem;
          width: fit-content;
        }
      }
    }
  }

  &-lists {
    display: flex;
    justify-content: space-between;
    > * {
      text-align: center;
      flex: 1;
    }
  }
  .toast {
    &-container {
      width: 25rem;
    }
    & > * {
      @include response(phone) {
        font-size: 1rem;
      }
    }
  }
  .toast-body {
    font-size: 1.4rem;
    color: white;
  }
}

@import './components/list/list';
